@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="Hmmm" class="display-4 Hmmm" onmouseover="newColor()" onmouseout="oldColor">Hmmm</h1>
    <p>Do you like those crazy japanese movies?</p>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_Q_xtwpciAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
